.terminal {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px,
    transparent 2px
  );
}

@keyframes blink {
  0%,
  100% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}
