.grid-main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  perspective: 400px;
  z-index: -1000;
  overflow: hidden;
}

.grid-animated {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200%;
  height: 300%;
  transform: translate(-50%, -50%);
  animation: scroll-grid-transform 25s linear infinite;
  will-change: transform;
  transform-style: preserve-3d;
}

.grid-lines {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;

  background-image: url("/grid.svg");
  background-size: 50px 50px;
}

@keyframes scroll-grid-transform {
  0% {
    transform: translate(-50%, -50%) rotateX(75deg) translateY(0px);
  }
  100% {
    transform: translate(-50%, -50%) rotateX(75deg) translateY(-600px);
  }
}

.grid-lines.resetting {
  transition: transform 0.8s ease-in-out;
}
