.terminal {
  background-image: repeating-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0.05) 1px,
    transparent 1px,
    transparent 2px
  );
}

@keyframes blink {
  0% {
    border-color: #929292;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #929292;
  }
}
